button {
    background: transparent;
    border: 0;
    color: $color-white;
    font-family: "Lato", sans-serif;
    outline: none;
    padding: 0;
  }

.c-btn {
    border-radius: .4rem; /* [1] */
    cursor: pointer; /* [2] */
    display: inline-block; /* [3] */
    font: inherit; /* [4] */
    margin: 0; /* [4] */
    padding: 0; /* [5] */
    text-align: center;
    transition: all .1s;
    vertical-align: middle;
    background-color: transparent;
  }

  .c-btn--main {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: .15rem solid $color-cornflower-blue;
    border-radius: .8rem;
    color: $color-cornflower-blue;
    font-size: 1.3rem;
    font-weight: 700;
    min-width: 14rem;
    min-height: 5rem;
    height: 4.8rem;
    transition: all .2s;
    user-select: none;
    white-space: nowrap;
    padding: 1rem 2.5rem;

    &--popup {
      margin: 0 auto .5rem auto;
      min-height: 4.5rem;
      border: 2px solid #3c45cc;
        color: #3c45cc;
        padding: 5px;
        border-radius: .8rem;
        font-weight: bold;
        cursor: pointer;
    }
  }

  .o-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }