$color-gray-light: #e7e6e6;
$color-white-background: #fbfcff;
$color-white: #fff;
$color-cornflower-blue: #6d92f3;
$color-gray: #5e5d5d;
$color-silver: #cac8c8;
$color-apricot: #f08b7b;
$color-malibu: #81c5f5;
$color-madang: #9cf1a8;
$color-perfume: #aaa0f8;
$color-corvette: #fac29e;
$color-froly: #f07b95;
$color-golden-sand: #f5e281;
$color-dark-red: #d30404;
$color-main-color: #343ecc;