.c-dashboard-table {
	width: 100%;
	padding: 0px 20px;
	border-collapse: collapse;
}
.c-dashboard-table tr td {
	text-align: center;
}
.c-dashboard-table th {
	font-size: 20px;
	background-color: rgb(176, 183, 184);
}
.c-dashboard-table tbody {
	font-size: 16px;
	background-color: rgb(232, 235, 234);
}
.c-dashboard-table tbody tr {
	border-bottom: 2px solid #4c4c4d;
	height: 50px;
}
.table-container {
	height: 70vh;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	border-radius: 3px;
	padding: 0 3rem;
}
.table-head {
	height: 70px;
}
.table-container::-webkit-scrollbar {
	width: 0;
	visibility: hidden; 
	display: none;
}
.search-heading {
	font-size: 20px;
	margin-bottom: 10px;
}
.c-search-container {
	display: flex;
}
.c-search-container button {
	margin-left: 20px;
	border: 2px solid #3c45cc;
	color: #3c45cc;
	border-radius: .8rem;
	font-weight: bold;
	cursor: pointer;
}
.c-search-container .c-form-input {
	border-color: #3c45cc;
	color: #3c45cc;
	padding-left: 10px;
}
