.c-header {
    height: 65px;
	display: flex;
	margin-bottom: 45px;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(220, 220, 220, 0.534);
	box-shadow: 0 .2rem 0 rgba(0, 0, 0, 0.15);
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-top: 10px;
}
.c-logo--small {
	height: inherit;
	padding: 5px;
}
.c-header button {
	border: 2px solid #3c45cc;
	color: #3c45cc;
	padding: 6px;
	font-size: 1.2rem;
	border-radius: .5rem;
	font-weight: bold;
	cursor: pointer;
}
.c-header button:hover {
	border-color: $color-silver;
	color: $color-silver;
}