.c-initial-page {
    display: flex;
    justify-content: center;
}
.c-initial-page--wrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.c-logo--big {
	width: 70%;
	margin-bottom: 40px;
}
.c-heading {
	font-size: 40px;
	margin-bottom: 40px;
}
.c-btn-heading button {
	font-size: 20px;
	color: #3c45cc;
	border: 2px solid #3c45cc;
}
.c-btn-heading button:hover {
	font-size: 21px;
}