.c-form-input {
    background-color: transparent;
    border: 0;
    border-bottom: .2rem dashed $color-gray-light;
    color: $color-gray;
    font-size: 1.4rem;
    height: 5rem;
    margin-bottom: 3rem;
    width: 38rem;
    transition: all 0.01s;
  
    &:focus {
      border-bottom: .2rem solid $color-gray;
      outline: none;
    }
  
    &::placeholder {
      color: $color-main-color;
      font-size: 1.4rem;
    }
  
    &--secondary {
      width: 100%;
      border-color: #3c45cc;
      padding-left: 10px;
      color: #3c45cc;
    }
  }
  