.o-popup-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.c-popup {
    background-color: $color-white;
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    min-width: 45rem;
    padding: 3.2rem 3.5rem;
    position: relative;
    width: 33.333333%;
    z-index: 10;
    max-height: 100vh;
    overflow-x: visible;
    align-items: center;
  
    & > * {
      flex-shrink: 0;
    }
  
    &::-webkit-scrollbar {
      visibility: hidden;
      width: 0;
    }
  
    &__close {
      cursor: pointer;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 1.4rem;
    }
  
    &__title {
      color: $color-main-color;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
    }
  
    &__label-text {
      color: $color-silver;
      font-size: 1.3rem;
      font-style: italic;
    }
  
    &--secondary {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: calc(33.3333% - 8rem);
    }
  
    &--tertiary {
      width: 33%;
      max-height: 90vh;
      overflow-y: auto;
      padding: 5rem 3.5rem;
  
      input {
        width: 100%;
      }
  
      p {
        margin-bottom: 2.5rem;
      }
    }
  }
